@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Space Mono', monospace;
}
.project-thumbnails{
    display: grid;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */

    
}
.emp-section{
    /* display: flex; */
    /* justify-content: center; */
}
main{margin: auto;
padding-left: 20px;}
.project-thumbnails img{
    width :600px;
    height: 500px;
    border-radius: 5%;
    padding: auto;
    margin: auto;
}
h1, h2{
    text-align: center;
}
.project-thumbnail{
  
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
   text-align: center;
   min-height: 100vh;
  
}
.nav{

    display:flex;
  
    width: auto;
    padding: 5px;
}
.title{
    padding-left: 20px;
    padding-right: 20px;
}
.ttl{
    display :flex ;
    text-align: center;
    align-items: center;
}
.images{
    display:block;
    border: #131316;

    width: 500px;
    margin-left: 40%;
    margin-right: auto;
 
}
.images img{

   width:500px;
  border-radius: 50%;
   margin-left: center;
   margin-right: auto;
   opacity: .2;
  
}
.images img:hover {
    opacity: 1;
}

.hide {
    display: none;
  }
  
  .images img:hover + .hide {
    display: block;
    color: red;
  }

  .images img:active + .hide {
    display: block;
    color: red;
    opacity: 1;
  }
  .btn{
    font-family: 'Space Mono', monospace;
  }

.cv-info{
    min-height: 100vh;
}

.socials{
display: grid;

}
.st{
font-size: 5px;
}

.imgfrm{ 
    object-fit: cover;
    width: 100%;
   height: 95vh;
  margin:auto;
  justify-content: center;}
  .iframe{
    width: 100%;
   
    object-fit: fill;
    justify-content: center;
  
  }
  .img1{
    width: 80%;
    height: 100%;
  }