 @import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Space Mono', monospace;
}
 section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
 }
 .hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
    
 }
 .show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
 }

 @media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
 }
  .logos {
display: flex;
  }
  .logos img{
width: 100px;
  }
  .logo:nth-child(2){
    transition-delay: 200ms;
  }
  .logo:nth-child(3){
    transition-delay: 400ms;
  }
  .logo:nth-child(4){
    transition-delay: 600ms;
  }
  .logo:nth-child(5){
    transition-delay: 800ms;
  }
  .logo:nth-child(6){
    transition-delay: 1000ms;
  }

  .nav{

    display:flex;
    width: auto;
    padding: 5px;
}
.title{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.bgfrm {object-fit: cover;}
.imgfrm{ 
  object-fit: cover;
  width: 80%;
 height: 95vh;
margin:auto;
justify-content: center;}
.iframe{
  width: 100%;
  /* border: solid red; */
  object-fit: fill;
  justify-content: center;

}