*{background-color: red;}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    background: white;
    text-align: center;
}
.header  h1 {
    color: black;
    text-align: end;
}

.eight-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; 
    align-items: center;

}
.eight-img img {
    width:500px;
}

     
.h1 {
    text-align: center;
}
.m8-txt-class {
    text-align: center;
}
#content{
    background: white;
}